.header {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 0;
  min-width:300px;
}

.card{
	border: 1px solid #000000;
	margin: 0px 10px;
}

.card-wrapper{
	margin: 0px 20px;
}

.slick-prev:before, .slick-next:before{
	color:#8884d8 !important;
}

.weather-day-wrapper{
	text-align: center;
	background-color: #fafafa;
	padding:10px 0px;
}

.bisector{
	width: 250px;
	background-color: #b3b3b3;
}

.dt{
	font-size: 18px;
	font-weight: bolder;
}

.img-ds{
	width: 50px;
	margin: auto;
}

.main-w{
	font-size: 16px;
	font-weight: bold;
}

.desc-w{
	font-size: 14px;
}

.oth-w{
	font-size: 12px
}