.header {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 0;
  min-width:400px;
}

.card{
	border: 1px solid #000000;
	margin: 0px 10px;
}

.card-wrapper{
	margin: 0px 20px;
}

.slick-prev:before, .slick-next:before{
	color:#8884d8 !important;
}